<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- Don't log messages and errors when loading properties files, and they can't be found-->
  <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

  <property resource="application.properties"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <!-- Writes object values from logging context as actual JSON (not escaped) -->
      <mdcEntryWriter class="no.liflig.logging.output.logback.JsonContextFieldWriter"/>
    </encoder>
  </appender>

  <logger name="org.eclipse.jetty" level="WARN"/>
  <logger name="no.liflig" level="DEBUG"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
